/* .alert {
    position: relative;
    bottom: 10px;
    right: 50px;
} */

:host {
        position: fixed;
        bottom: 10px;
        right: 50px;
        display: block;
        width: 200px;
        z-index: 20;
}